// Added manifest block to comply with nf-core module downloads

manifest {
    name            = 'Illumina QC'
    contributors    = [
        [
            name: 'Dan Ward',
            affiliation: '',
            email: '',
            github: 'dan-ward-bio',
            contribution: [], // List of contribution types ('author', 'maintainer' or 'contributor')
            orcid: ''
        ],
    ]
    homePage        = 'https://github.com/dan-ward-bio'
    description     = """test"""
    mainScript      = 'main.nf'
    defaultBranch   = 'master'
    nextflowVersion = '!>=25.04.0'
    version         = '1.0.0dev'
    doi             = ''
}

// Module configuration
docker.enabled = true
conda.enabled = true
conda.useMamba = true

// FQ Lint module is configured to crash out when errors are found. I'd like to source the container and config not to do this (--lint-mode log instead of --lint-mode panic), but in the interest of time, this fail will be logged and ignored.

// Same with fastp - will not handle corrupted FASTQ files.
process {
//    withName: 'FQ_LINT' {
//        errorStrategy = 'ignore'
//    }

  
    withName: 'FASTP' {
        publishDir = [
            [
                path: { "${params.outdir}/${params.batch}/fastp" },
                mode: 'copy',
                pattern: '*.{html,json,log}'
            ],
            [
                path: { "${params.outdir}/${params.batch}/trimmed_reads" },
                mode: 'copy',
                pattern: '*.fastp.fastq.gz',
                enabled: false  // Set to true if you want to save trimmed reads
            ]
        ]
    }
    
    withName: 'FASTQC' {
        publishDir = [
            path: { "${params.outdir}/${params.batch}/fastqc" },
            mode: 'copy',
            pattern: '*.html'
        ]
    }
    
    withName: 'SEQKIT_STATS' {
        publishDir = [
            path: { "${params.outdir}/${params.batch}/seqkit_stats" },
            mode: 'copy',
            pattern: '*.tsv'
        ]
    }
    
    withName: 'MULTIQC' {
        publishDir = [
            path: { "${params.outdir}/${params.batch}/multiqc" },
            mode: 'copy',
            pattern: '*{.html,_data,_plots}'
        ]
    }
}